" ******************** Leader ******************************
let mapleader = ' '
" Ctrl + Alt  \ = Toggle IdeaVim
" Alt + F11 = Open in terminal (Current file)


" ******************** Tabs ********************************
map <leader>qq <Action>(CloseContent)
map <leader>qa <Action>(CloseAllEditors)
map <leader>qo <Action>(CloseAllEditorsButActive)
map <leader>== <Action>(MoveTabRight)
map <leader>-- <Action>(MoveTabDown)


" ******************** Editing *****************************
" :set visualbell
set incsearch
set hlsearch
set ic
set smartcase
set ideajoin
set idearefactormode=keep
noremap <Esc> :nohlsearch<CR>
noremap <leader>xc mo ggVGy'o
nnoremap <leader>xC ggVG"+y
nnoremap <leader>xd ggVGd
nnoremap <leader>xx ggVG"+d
nnoremap <leader>pp "+p
nnoremap <leader>yy "+y$
vnoremap <leader>y  "+y
vnoremap <leader>xP "_dP
map <leader>ff <Action>(Find)
map <leader>fr <Action>(Replace)
map <leader>re <Action>(RenameElement)
nnoremap <leader>d :action EditorDuplicate<CR>
nnoremap <leader>tw :!start cmd /K "cd /d %:p:h"<CR>
" nnoremap <leader>e :action EditorSelectWord<CR>


" ******************** Debugging  **************************
map <leader>rd <Action>(Debug)
map <leader>rr <Action>(Run)
map <leader>b <Action>(ToggleLineBreakpoint)


" ******************** File path ***************************
map <leader>ca <Action>(CopyFilePath)
map <leader>cu <Action>(CopyRelativeFilePath)
map <leader>cf <Action>(CopyFileName)
map <leader>cp <Action>(CopyContentRootPath)
map <leader>ss <Action>(SelectInProjectView)


" ******************** File management *********************
set NERDTree
map <leader>nf <Action>(NewFile)
map <leader>nd <Action>(NewDir)
map <leader>rf <Action>(RenameFile)
map <leader>fd <Action>(DeleteFile)


" ******************** IDE *********************************
noremap <leader>cc :edit ~/.ideavimrc<CR>
noremap <leader>cs :source ~/.ideavimrc<CR>
map <leader>ri <Action>(RestartIde)
" map <leader>qa <Action>(ShowIntentionActions)


" ******************** Navigation **************************
map <leader>gl <Action>(GotoLine)
" map <leader> <Action>(GotoClass)
" map <leader> <Action>(GotoFile)
" map <leader> <Action>(GotoSymbol)
" map <leader> <Action>(GotoAction)
" map <leader> <Action>(GotoDeclaration)
" map <leader> <Action>(GotoTypeDeclaration)


******************** Error navigation **********************
" map <leader> <Action>(GotoNextError)
" map <leader> <Action>(GoToPreviousError)
" map <leader> <Action>(JumpToLastChecked)


" ******************** Plugins *****************************
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
" Plug 'tpope/vim-commentary'
